streamlit==1.30.0             # stable on Cloud
streamlit-js-eval==0.1.4      # one line, dash style
tinify
httpx
requests
requests-toolbelt
pillow
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
